.login-bigbody{
    height: 100vh;
    line-height: 100px;
    background: linear-gradient(to bottom right, #6353f0, #1d0549);     
    text-align: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    flex: 1;
    background-image: url("../../public/assets/background.jpg"); 
}

.login-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@font-face {
  font-family: KumbhSans;
  src: url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap);
}

h1.login-h1{
    
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 200px;

    font-family: KumbhSans;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-weight: 100;
    
}

.login-container {
  margin: auto;
  display: flex;
  background-color: lightgrey;
  width: 500px;
  height: 400px;  
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin-bottom: 200px;

}


.login-welcome {
  width: 100%;
  flex-wrap: wrap;
}

.login-button {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  flex-wrap: wrap;
}



