.student-stats-parent,.availability-section{
    background-color: lightgray;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    flex: 1;
}

.student-dropdown{
    margin: 0px;
}

.view-students-info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notesheader{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;

}
h1{
    margin-bottom: 0px;
}
.view-student-info-h2{
    margin-top: 0px;
}

.dropdownbutton{
    margin-top: 0;
    margin: 0; 
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.notesbox{
    background-color: white;
    border: 2px solid black;
    width: 400px;
    height: 150px;
    margin-bottom: 45px;
}
.notesbox textarea {
width: 100%;
height: 100px;
resize: none; 
box-sizing: border-box;
border: none; 
background-color: transparent; 
outline: none;
font-size: 16px; 
color: #333; 
margin-bottom: 20px;
}

.notesbox button {
margin-top: 40px;
padding: 10px 20px;
background-color: #3071BD;
color: black;
border: none;
cursor: pointer;
font-size: 16px;
border-radius: 8px
}



.saved-notes {
margin-top: 20px;
padding: 10px;
border: 1px solid #ddd;
background-color: #f9f9f9;
}
