.dropdown {
    position: relative;
    display: inline-block;
  }
  .Dropdowndiv{
    font-size: small;
  }
  .checkmark {
    border-width: 4px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: small;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.viewtable {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
    border-collapse: collapse;
}

.viewtable * {
    border: 1px solid;
}

.viewtable * * {
    border: 1px solid;
    padding: 5px;
    text-align: left;  
}


