.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdownbutton{
    background-color: lightgray;
    padding: 0.2em;
    padding-right: 10em;
    max-width: 30%;
    margin: 1rem;
  }
  .Dropdowndiv{
    font-size: small;
  }
  .checkmark {
    border-width: 4px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 20px
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.viewtable {
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
    border-collapse: collapse;
}

.viewtable * {
    border: 1px solid;
}

.viewtable * * {
    border: 1px solid;
    padding: 5px;
    text-align: left;  
}

.cols-2 {
  columns: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drop {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0051ff; 
  color: white; 
  font-weight: bold; 
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  overflow: hidden;
}

.drop:hover {
  background-color: #45a049; 
}
