nav {
    display : block;
    background-color: #6260EF;
    height: 100px;
    display: inline-block;
}

.element{
    margin: 0.5em;
}

a {
    color: white;
    font-family: sans-serif;
}

img{
    width:
}